.s-text {
  padding: 120px 0;

  @media (max-width: $md) {
    padding: 60px 0;
  }
}

.s-text__txt {

  @media (max-width: $md) {
    max-height: 624px;
    overflow-y: hidden;
  }

  &--show {
    @media (max-width: $md) {
      max-height: none;
      overflow-y: visible;
    }
  }
}

.s-text__wrap-btn {
  display: none;

  @media (max-width: $md) {
    display: block;
    padding-top: 40px;
    text-align: center;
  }
}

.s-text__btn {

}
