.top-hosting {
  background-color: #FAFDFF;
  border: 1px solid #EFF1FA;
  padding: 107px 33px 30px;
  position: relative;
}

.top-hosting__rank {
  position: absolute;
  top: 27px;
  left: 30px;

  @media (max-width: $md) {
    left: 13px;
  }
}

.top-hosting__price {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: $c-accent-1;
  color: #fff;
  line-height: 1;
  font-size: 38px;
  font-weight: 700;
  padding: 30px 8px;
  width: 186px;
  text-align: center;

  @media (max-width: $md) {
    font-size: 26px;
    padding: 23px 8px;
    width: 156px;
  }
}

.top-hosting__title {
  margin-bottom: 19px;
}

.top-hosting__desc {
  font-size: 16px;
  line-height: 1.5;
  color: $c-accent-1;
  font-weight: 500;
  margin-bottom: 11px;
}

.top-hosting__limit {
  margin-bottom: 10px;
}

.top-hosting__score {
  margin-bottom: 13px;
}

.top-hosting__features-list {
  margin-bottom: 28px;
}

.top-hosting__link {
  font-weight: 500;
}
