.link {
  color: $c-accent-1;
  box-shadow: inset 0px -1px 0px 0px rgba($c-accent-1, .5);
  transition: .2s;

  &:hover {
    color: #4E6BD1;
    text-decoration: none;
    box-shadow: inset 0px -1px 0px 0px rgba(#4E6BD1, 1);
  }
}
