.btn {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  vertical-align: middle;
  text-align: center;
  border: none;
  user-select: none;
  color: #fff;
  background-color: $c-accent-1;
  max-width: 328px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  transition: .2s;

  @media (max-width: $sm) {
    max-width: 100%;
  }

  &:hover {
    text-decoration: none;
    background-color: #4E6BD1;

    @media (max-width: $md) {
      background-color: $c-accent-1;
    }
  }
}
